
<div class="container">
<h1>Listas de Registros</h1>

<div class="row">
    <div class="col-sm-6">
           <div class="rectgreen" routerLink="/listado-clientes">
              <i class="fas fa-clipboard-list" style="font-size: 60px"></i>
               <p style="font-size: 24px, padding-top 15px">Clientes</p>
           </div>
    </div>

     <div class="col-sm-6">
         <div class="rectviolet" routerLink="/listado-inscripciones">
             <i class="fas fa-clipboard-list" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px">Inscripciones</p>
         </div>
      </div>
 </div>

 <br>

 <h1>Añadir Registro</h1>
 <div class="row">
    <div class="col-sm-6">
           <div class="rectblue" routerLink="/agregar-clientes">
               <i class="fas fa-plus" style="font-size: 60px"></i>
               <p style="font-size: 24px, padding-top 15px"> Agregar Cliente</p>
           </div>

    </div>

     <div class="col-sm-6">
         <div class="rectyellow" routerLink="/inscripcion">
             <i class="fas fa-plus" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px"> Agregar Inscripcion</p>
         </div>
      </div>

 </div>
</div>

