<div class="container">

  <table class="table">
      <thead>
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Cliente</th>
          <th scope="col">Fecha de Incio</th>
          <th scope="col">Fecha Final</th>
          <th scope="col">Factura</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inscripcion of inscripciones">
          <td>
            <img width="50px" [src]="inscripcion.clienteObtenido.ImgUrl" alt="">
          </td>
          <th scope="row">{{inscripcion.clienteObtenido.nombre}} {{inscripcion.clienteObtenido.apellido}}</th>
          <td>{{inscripcion.fecha | date}}</td>
          <td>{{inscripcion.fechaFinal | date}}</td>
          <td>
            <button class="btn btn-info">Descargar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

